body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
F1Regular and F1RegularItalic
*/
@font-face {
  font-family: 'F1';
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2") format("woff2"), url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'F1';
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff2") format("woff2"), url("https://www.formula1.com/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

/*
F1Bold
*/
@font-face {
  font-family: 'F1Bold';
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2") format("woff2"), url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
F1Black
*/
@font-face {
  font-family: 'F1Black';
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff2") format("woff2"), url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
F1Wide
*/
@font-face {
  font-family: 'F1Wide';
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2") format("woff2"), url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
F1YEAR
*/
@font-face {
  font-family: 'F1YEAR';
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1YEAR/F1YEARRegular.woff2") format("woff2"), url("https://www.formula1.com/etc/designs/fom-website/fonts/F1YEAR/F1YEARRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }





.driver-name-list {
  font-family: 'F1Bold';
  text-align: center;
  font-size: 1.2rem;
  padding: .3em .8em;
  color:white;
  background: #e10600;
}